{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <p>This is a modified base demo from IT@JCU Flask Demo by Lindsay Ward.
    This consists of some further practice items such as including more results
    to the results page and this about page that you're reading now. </p>
    <p>This webpage provides a basic and simple interface for quick searching
    a topic from wikipedia using the Flask app with the Wikipedia API to fetch
    the searched term and return a summary with some image links for the
    searched term. If no match is found, it will return a random page for your
    entertainment, and to suggest that the page is still working, but the search term
    couldn't be found. </p>
{% endblock %}